.section {
  padding: 6rem 0 0 0;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  position: relative;

  & .header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 6rem;

    & h2 {
      position: relative;

      &::before {
        content: '<h2>';
        position: absolute;
        top: 50%;
        left: -4rem;
        transform: translateY(-50%);
      }

      &::after {
        content: '</h2>';
        position: absolute;
        top: 50%;
        right: -4.5rem;
        transform: translateY(-50%);
      }
    }
  
    & div {
      border-bottom: .5px solid red;
      height: 0;
      width: 40rem;
      align-self: center;
    }
  
    & div:first-of-type {
      justify-self: end;
    }
  
    & div:last-of-type {
      justify-self: start;
    }
  }
}

.portfolio {
  width: 75%;
  height: 33rem;
  margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  & .control {
    width: 80%;
    height: 100%;
    justify-self: center;
    position: relative;
    visibility: visible;

    & p {
      visibility: visible;
      -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    & h3 {
      margin: 0;
    }

    & .iconControl {
      font-size: 2rem;
      display: grid;
      grid-template-columns: repeat(15, 1fr);
      grid-auto-flow: column;
      gap: 0rem;
    }

    & .buttonControl {
      position: absolute;
      width: max-content;
      bottom: 2rem;

      & a {
        padding: 1.3rem 2rem;
        background-color: bisque;
      }

      & a:last-of-type {
        margin-left: 1rem;
      }
    }
  }
}