.navbar {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: fixed;
  top: 0rem;
  transform: translateY(-7rem);
  opacity: .5;
  z-index: 20;
  animation: slideIn .5s ease forwards;
}

.navbar1 {
  
}

.navbar2 {
  font-size: 1rem !important;
  background-color: $color-secondary2;
  height: 7rem;
}


.logobox {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15rem;
  
  & img {
    transform: skewX(3deg);
    border-radius: 50%;
  }
}

.navLinks {
  flex-basis: 41rem;
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 100%;
  // align-items: center;

  & span {
    transition: .3s;
    cursor: pointer;

    &:hover { 
      color: red;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-7rem);
    opacity: .5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

