.imageControl1 {
  justify-self: center;
  align-self: center;
  width: 48rem;
  height: 28rem;
  position: relative;

  & .secondaryContainer {
    position: absolute;
    bottom: 0.6rem;
    left: 0;
    width: 12rem;
    height: 15.5rem;
    overflow: hidden;
  }
}

.imageControl3 {
  justify-self: start;
  align-self: start;
  width: 48rem;
  height: 28rem;
  position: relative;

  & .secondaryContainer {
    position: absolute;
    bottom: -11rem;
    left: -2rem;
    width: 12rem;
    height: 15.4rem;
    overflow: hidden;
  }
}

.imageControl2 {
  margin: 5rem 0 0 5rem;
  justify-self: start;
  align-self:  start;
  width: 33rem;
  height: 13rem;
  position: relative;

  & .secondaryContainer {
    position: absolute;
    bottom: -12.3rem;
    right: -1.5rem;
    width: 12rem;
    height: 15.4rem;
    overflow: hidden;
  }
}
