.portfolio {
  width: 75%;
  height: 33rem;
  // margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
}

