.portfolio {
  width: 75%;
  height: 33rem;
  // margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  & .control {
    width: 80%;
    height: 100%;
    justify-self: end;
    position: relative;

    & p {
      visibility: visible;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    & h3 {
      margin: 0;
      position: relative;

      &::before {
        content: "<h3>";
        position: absolute;
        left: -2rem;
        top: -1rem;
      }

      &::after {
        content: "</h3>";
        position: absolute;
        left: -2rem;
        bottom: -1rem;
      }
    }

    & .textControl {
      margin-top: 2rem;
      position: relative;

      &::before {
        content: "<p>";
        position: absolute;
        left: -2rem;
        top: -1rem;
      }

      &::after {
        content: "</p>";
        position: absolute;
        left: -2rem;
        bottom: -1rem;
      }
    }

    & .iconControl {
      font-size: 2.3rem;
      display: grid;
      grid-template-columns: repeat(15, 1fr);
      grid-auto-flow: column;
      gap: 0rem;
    }

    & .buttonControl {
      position: absolute;
      width: max-content;
      bottom: 1rem;

      &::before {
      content: "<a>";
      position: absolute;
      left: -2rem;
      top: -3rem;
    }

    &::after {
      content: "</a>";
      position: absolute;
      left: -2rem;
      bottom: -3rem;
    }

      & a {
        padding: 1.5rem 2.5rem;
        background-color: bisque;
      }

      & a:last-of-type {
        margin-left: 1rem;
      }
    }
  }
}

.imageControl {
  justify-self: center;
}

.control2 {
  width: 80%;
  height: 100%;
  justify-self:  center;
  position: relative;

  & p {
    visibility: visible;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & h3 {
    margin: 0;
    position: relative;

    &::before {
      content: "<h3>";
      position: absolute;
      left: -2rem;
      top: -1rem;
    }

    &::after {
      content: "</h3>";
      position: absolute;
      left: -2rem;
      bottom: -1rem;
    }
  }

  & .textControl {
    margin-top: 2rem;
    position: relative;

    &::before {
      content: "<p>";
      position: absolute;
      left: -2rem;
      top: -1rem;
    }

    &::after {
      content: "</p>";
      position: absolute;
      left: -2rem;
      bottom: -1rem;
    }
  }

  & .iconControl {
    font-size: 2.3rem;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-auto-flow: column;
    gap: 0rem;
  }

  & .buttonControl {
    position: absolute;
    width: max-content;
    bottom: 1rem;

    &::before {
      content: "<a>";
      position: absolute;
      left: -2rem;
      top: -3rem;
    }

    &::after {
      content: "</a>";
      position: absolute;
      left: -2rem;
      bottom: -3rem;
    }

    & a {
      padding: 1.5rem 2.5rem;
      background-color: bisque;
    }

    & a:last-of-type {
      margin-left: 1rem;
    }
  }
}
