.contact {
  padding: 4rem;
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 4rem;
  overflow: hidden;
  font-size: 2rem;

  & .header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 8rem;

    & h2 {
      position: relative;
    }

    & div {
      border-bottom: 0.5px solid goldenrod;
      height: 0;
      // max-width: 30rem;
      align-self: center;
    }

    & div:first-of-type {
      justify-self: end;
    }

    & div:last-of-type {
      justify-self: start;
    }
  }

  & .body {
    display: flex;
    justify-content: center;
    width: 100%;

    & > div {
      flex-basis: 105rem;
    }

    & p {
      line-height: 1.5;
      position: relative;
      margin-bottom: 5rem;
    }
  }

  .form {
    height: max-content;
    width: 70rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
    position: relative;

    .control {
      // display: grid;
      // grid-template-rows: 5rem;
      // grid-template-columns: 1fr 1fr 1fr;
      margin: 2.5rem 0 2rem;
      position: relative;

      & label {
        color: grey;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 1rem;
        margin-top: 0.7rem;
        padding: 0rem .5rem .2rem;
        display: block;
        transition: all 0.3s;
        position: absolute;
        top: 16%;
        opacity: 1;
      }

      & input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 2rem 2rem;
        border-radius: 2px;
        background-color: white;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.3s;
        color: black;

        // @include respond(tab-port) {
        //     width: 100%;
        // }
        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(black, 0.1);
          border-color: 3px solid black;
        }

        &::placeholder {
          opacity: 0;
        }
      }

      & textarea {
        font-size: 1.5rem;
        font-family: inherit;
        color: black;
        padding: 2rem 2rem;
        border-radius: 2px;
        background-color: white;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.3s;
        margin-bottom: 4rem;
        resize: vertical;

        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(black, 0.1);
          border-color: 3px solid black;
        }

        &::placeholder {
          opacity: 0;
        }
      }
    }

    & .buttonControl {
      position: relative;

      & button {
        padding: 1.5rem 2.5rem;
        background-color: bisque;
         border: none;
        position: relative;
      }

      & p {
        position: absolute;
        right: 0;
      }

      & .message {
        margin-left: 1.5rem;
        font-size: 1.4rem;
      }
    }
  }
}

.invalid input,
.invalid textarea {
  border-color: #b40e0e !important;
  background-color: #fce7e7 !important;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800 !important;
  background-color: #fbe8d2 !important;
}

.error-text {
  color: #b40e0e;
  grid-column: 2 / span 2;
  text-align: left;
  position: absolute;
}

#label-focus {
  top: -2rem;
  border-radius: 2px;
  background-color: white;
}

#label-focus1 {
  top: -2rem;
  border-radius: 2px;
  background-color: white;
}
