.container {
  width: 25rem;
  height: 12rem;
  padding: 0 0 0 1.5rem;
  // background-color: #1b2735;
  background-image: url("/images/shutterstock_196151366.jpg");
  background-size: 45.3rem 45.3rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & p {
    margin: 0;
  }
}