.hero {
  position: relative;
  width: 100%;
  height: 94vh;
  overflow: hidden;
  background-image: url(../../../public/home-hongkong.jpg);
  box-shadow: 0 0.2rem 0.8rem rgb(0 0 0 / 25%);
  color: white;
  font-size: 3rem;
  display: flex;
  z-index: 0;
}

#intro {
  position: absolute;
  top: 22%;
  left: 7%;
  height: max-content;
  pointer-events: none;
  // &::after {
  //   content: '|';
  // }
}

#intro2 {
  position: absolute;
  top: 80%;
  left: 20%;
  height: max-content;
  pointer-events: none;
  width: 24rem;
  // overflow-y: hidden;
}

#intro3 {
  position: absolute;
  top: 80%;
  right: 20%;
  height: max-content;
  pointer-events: none;
  // width: 24rem; c
}

.wrap {
  border-right: 0.08em solid #fff;
  animation: caret 1s steps(1) infinite;

  &1 {
    margin: 0;
    font-size: 5rem;
    color: #fff;
    display: inline;

    &::before {
      content: '<h1>';
      position: absolute;
      top: -.5rem;
      left: -2rem;
    }

    &::after {
      content: '</h1>';
      position: absolute;
      top: 20rem;
      left: -2rem;
    }
  }

  &2 {
    margin: 0;
    font-size: 4.8rem;
    display: inline;
    white-space: nowrap;

    &::before {
      content: '<p>';
      position: absolute;
      top: 2.7rem;
      left: -3rem;
    }

    &::after {
      content: '</p>';
      position: absolute;
      top: 2.7rem;
      right: -2.5rem;
    }
  }

  &3 {
    margin: 0;
    font-size: 4.8rem;
    display: inline;

    &::before {
      content: '<p>';
      position: absolute;
      top: 2.7rem;
      left: -3rem;
    }

    &::after {
      content: '</p>';
      position: absolute;
      top: 2.7rem;
      right: -2.8rem;
    }
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#left {
  transition: 2s ease-out;
  flex-basis: 50%;
  height: 100%;
  overflow: hidden;
}

#right {
  transition: 2s ease-out;
  flex-basis: 50%;
  height: 100%;
  overflow: hidden;
}