.hero {
  position: relative;
  width: 100%;
  height: 94vh;
  overflow: hidden;
  // background-image: url(../../../public/home-hongkong.jpg);
  box-shadow: 0 0.2rem 0.8rem rgb(0 0 0 / 25%);
  color: white;
  display: flex;
  z-index: 0;

  .socials {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    justify-self: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3.2rem;
    transition: 0.3s;
    height: 21rem;
    padding: 0 2rem;

    & a {
      transition: 0.3s;

      &:hover {
        color: red;
      }
    }
  }
}

.intro {
  color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(white, 1) 0%,
    rgba(white, 1) 100%,
    transparent 100%
  );
  background-clip: text;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 22%;
  left: 6%;
  padding: 0 0 2.5rem 2.5rem;
  height: 22.6rem;
  width: 57rem;
  transition: 1.5s;
}

#dynText {
  color: $color-secondary2;
}

.wrap {
  border-right: 0.08em solid #fff;
  animation: caret 1s steps(1) infinite;
  margin: 0;
  font-size: 5rem;
  display: inline;

  & p {
    margin: 0;
    padding: 0;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#left {
  transition: 1.5s ease-out;
  flex-basis: 50%;
  height: 100%;
  overflow: hidden;
  transform: translatex(-70%);
  opacity: 0;
  animation: slideIn 1s ease-out 0.7s forwards;
}

#right {
  transition: 1.5s ease-out;
  flex-basis: 50%;
  height: 100%;
  overflow: hidden;
  text-indent: -100%;
  transform: translatex(70%);
  opacity: 0;
  animation: slideIn 1s ease-out 0.7s forwards;
}

@keyframes slideIn {
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
