$color-primary: #443190;
$color-primary2: #C613C5;
$color-secondary: #BD9858;
$color-secondary2: #DAB663;
$color-secondary3: #EEE3CC;

// $color-footer: #CAD2C3;
$color-footer: #2D2D2D;
$color-button1: #453292;  