.about {
  padding: 6rem 0 0;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  position: relative;

  & .header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 6rem;

    & h2 {
      position: relative;

      &::before {
        content: "<h2>";
        position: absolute;
        top: 50%;
        left: -4rem;
        transform: translateY(-50%);
      }

      &::after {
        content: "</h2>";
        position: absolute;
        top: 50%;
        right: -4.5rem;
        transform: translateY(-50%);
      }
    }

    & div {
      border-bottom: 0.5px solid red;
      height: 0;
      width: 40rem;
      align-self: center;
    }

    & div:first-of-type {
      justify-self: end;
    }

    & div:last-of-type {
      justify-self: start;
    }
  }

  & .body {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    & .para {
      margin-top: 8rem;
      width: 80%;
      // height: max-content;
      height: 40rem;
      border-radius: 50%;
      background-color: bisque;
      justify-self: center;
      position: relative;
      perspective: 650px;
      transform-style: preserve-3d;

      // &::before {
      //   content: "<p>";
      //   position: absolute;
      //   top: 0rem;
      //   left: -1.5rem;
      // }

      // &::after {
      //   content: "</p>";
      //   position: absolute;
      //   bottom: -3rem;
      //   left: -1.5rem;
      // }
    }

    & a {
      border-bottom: 2px solid red;
    }
  }
}

.html {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 0.2;
  transform: translate3d(0, 0, 0);
  animation: rotate 10s linear infinite;
}

.react {
}

.next {
}

.scss {
}

.css {
}

@keyframes rotate {
  23% {
    transform: translate3d(0, -18rem, 0rem);
  }
  25% {
    transform: translate3d(0, -18rem, 10rem);
    font-size: 1.7rem;
    opacity: .6;
  }
  // 28%{
  //   transform: translate3d(0, -18rem, 10rem);
  // }
  50% {
    transform: translate3d(0, 0, 20rem);
    font-size: 2rem;
    opacity: 1;
  }
  75% {
    transform: translate3d(0, 18rem, 10rem);
    font-size: 1.7rem;
    opacity: .6;
  }
  100% {
    transform: translate3d(0, 0, 0);
    font-size: 1.3rem;
    opacity: .2;
  }
}
