.about {
  padding: 6rem 0 ;
  width: 100%;
  // height: 95vh;
  font-size: 2rem;
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 9rem;
  justify-items: center;
  align-items: center;

  & .header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 8rem;

    & h2 {
      position: relative;

      &::before {
        content: "<h2>";
        position: absolute;
        top: 50%;
        left: -6.5rem;
        transform: translateY(-50%);
      }

      &::after {
        content: "</h2>";
        position: absolute;
        top: 50%;
        right: -7.5rem;
        transform: translateY(-50%);
      }
    }

    & div {
      border-bottom: 0.5px solid goldenrod;
      height: 0;
      max-width: 30rem;
      align-self: center;
    }

    & div:first-of-type {
      justify-self: end;
    }

    & div:last-of-type {
      justify-self: start;
    }
  }

  & .body {
    width: 68%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    &::before {
        content: "<p>";
        position: absolute;
        left: -2rem;
        top: 0rem;
      }

      &::after {
        content: "</p>";
        position: absolute;
        bottom: -3rem;
        left: -2rem;
      }

    & .para {
      width: 45rem;
      height: max-content;
      border-radius: 50%;
      justify-self: start;
      align-self: center;
      text-align: justify;
    }

    & a {
      border-bottom: 2px solid red;
      cursor: pointer;
    }
  }
}

.stack {
  margin-top: 5rem;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  justify-self: center;
  position: relative;
  perspective: 650px;
  transform-style: preserve-3d;
  font-size: 2.2rem;
  font-weight: 900;
  user-select: none;

  .html {
    position: absolute;
    left: 60%;
    transform-style: preserve-3d;
    animation: html 20s linear infinite;
  }

  .react {
    position: absolute;
    left: 38%;
    transform-style: preserve-3d;
    animation: react 20s linear infinite;
  }

  .next {
    position: absolute;
    right: 20%;
    transform-style: preserve-3d;
    animation: next 20s linear 1s infinite backwards;
  }

  .sass {
    position: absolute;
    left: 87%;
    transform-style: preserve-3d;
    animation: sass 20s linear 0.7s infinite backwards;
  }

  .css {
    position: absolute;
    left: 8%;
    transform-style: preserve-3d;
    animation: css 20s linear infinite;
  }

  .node {
    position: absolute;
    left: 5%;
    transform-style: preserve-3d;
    animation: node 20s linear infinite;
  }

  .express {
    position: absolute;
    left: 25%;
    transform-style: preserve-3d;
    animation: express 20s linear infinite;
  }

  .javascript {
    position: absolute;
    left: 60%;
    transform-style: preserve-3d;
    animation: javascript 20s linear infinite forwards;
  }

  .git {
    position: absolute;
    left: 30%;
    transform-style: preserve-3d;
    animation: git 20s linear infinite;
  }

  .mongo {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    animation: mongo 20s linear infinite;
  }

  .Firebase {
    position: absolute;
    left: 30%;
    transform-style: preserve-3d;
    animation: redux 20s linear infinite forwards;
  }
}

#canvas1 {
  background-color: transparent;
}

@keyframes sass {
  //27 19 9
  0% {
    transform: translate3d(0, 27rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  25% {
    opacity: 0.1;
    transform: translate3d(0, 19rem, 0) scale(0.6);
  }
  50% {
    transform: translate3d(0, 9rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  75% {
    transform: translate3d(0, 19rem, 0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 27rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
}

@keyframes redux {
  0% {
    transform: translate3d(0, 17.5rem, 0rem) scale(0.6);
    opacity: 0.1;
  }
  25% {
    transform: translate3d(0, 4rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  50% {
    transform: translate3d(0, 17.5rem, 0rem) scale(1);
    opacity: 1;
  }
  75% {
    transform: translate3d(0, 35rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 17.5rem, 0rem) scale(0.6);
    opacity: 0.1;
  }
}

@keyframes mongo {
  0% {
    transform: translate3d(0, 28.5rem, 0) scale(0.9);
    opacity: 0.9;
  }
  12% {
    transform: translate3d(0, 38rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  25% {
    transform: translate3d(0, 28.5rem, 0) scale(0.7);
    opacity: 0.4;
  }
  37% {
    transform: translate3d(0, 19rem, 0) scale(0.6);
    opacity: 0.1;
  }
  50% {
    transform: translate3d(0, 11rem, 0) scale(0.72);
    opacity: 0.4;
  }
  62% {
    transform: translate3d(0, 1rem, 0) scale(0.85);
    opacity: 0.8;
  }
  75% {
    transform: translate3d(0, 11rem, 0) scale(0.9);
    opacity: 0.9;
  }
  87% {
    transform: translate3d(0, 19rem, 0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 28.5rem, 0) scale(0.9);
    opacity: 0.9;
  }
}

@keyframes git {
  // 35 17.5 4
  0% {
    transform: translate3d(0, 17.5rem, 0rem) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate3d(0, 35rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  50% {
    opacity: 0.1;
    transform: translate3d(0, 17.5rem, 0) scale(0.6);
  }
  75% {
    transform: translate3d(0, 4rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 17.5rem, 0rem) scale(1);
    opacity: 1;
  }
}

@keyframes node {
  // 29 20 11
  0% {
    transform: translate3d(0, 15.5rem, 0) scale(0.9);
    opacity: 0.9;
  }
  12% {
    transform: translate3d(0, 20rem, 0rem) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate3d(0, 24.5rem, 0) scale(0.72);
    opacity: 0.9;
  }
  32% {
    transform: translate3d(0, 29rem, 0) scale(0.85);
    opacity: 0.8;
  }
  50% {
    transform: translate3d(0, 24.5rem, 0) scale(0.72);
    opacity: 0.4;
  }
  62% {
    transform: translate3d(0, 20rem, 0) scale(0.6);
    opacity: 0.1;
  }
  75% {
    transform: translate3d(0, 15.5rem, 0rem) scale(0.72);
    opacity: 0.4;
  }
  87% {
    transform: translate3d(0, 11rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 15.5rem, 0) scale(0.9);
    opacity: 0.9;
  }
}

@keyframes next {
  0% {
    transform: translate3d(0, 16.1rem, 0) scale(0.94);
    opacity: 0.9;
  }
  8% {
    transform: translate3d(0, 20rem, 0rem) scale(1);
    opacity: 1;
  }
  15% {
    transform: translate3d(0, 23.9rem, 0) scale(0.94);
    opacity: 0.9;
  }
  32% {
    transform: translate3d(0, 34.5rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  49% {
    transform: translate3d(0, 23.9rem, 0) scale(0.65);
    opacity: 0.25;
  }
  56% {
    transform: translate3d(0, 20rem, 0) scale(0.6);
    opacity: 0.1;
  }
  64% {
    transform: translate3d(0, 16.1rem, 0) scale(0.65);
    opacity: 0.3;
  }
  82% {
    opacity: 0.8;
    transform: translate3d(0, 5rem, 0) scale(0.85);
  }
  100% {
    transform: translate3d(0, 16.1rem, 0) scale(0.94);
    opacity: 0.9;
  }
  // 0% {
  //   transform: translate3d(0, 30rem, 0rem) scale(0.85);
  //   opacity: .8;
  // }
  // 1% {
  //   transform: translate3d(0, 30.2rem, 0rem) scale(0.85);
  // }

  // 23%{
  //   transform: translate3d(0, 18rem, 0) scale(.6);
  // }
  // 25% {
  //   opacity: .1;
  //   transform: translate3d(0, 17rem, 0) scale(.6);
  // }
  // 27% {
  //   transform: translate3d(0, 16rem, 0) scale(.6);
  // }
  // 49% {

  //  transform: translate3d(0, 8.2rem, 0rem) scale(0.85);
  // }
  // 50% {
  //   transform: translate3d(0, 8rem, 0rem) scale(0.85);
  //   opacity: .8;
  // }
  // 51% {
  //  transform: translate3d(0,  8.2rem, 0rem) scale(0.85);
  // }
  // 75% {
  //   transform: translate3d(0, 17rem, 0rem) scale(1);
  //   opacity: 1;
  // }
  // 100% {
  //   transform: translate3d(0, 30rem, 0rem) scale(0.85);
  // }
}

@keyframes express {
  0% {
    transform: translate3d(0, 35rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  // 2% {
  //   transform: translate3d(0, 35.2rem, 0rem) scale(.85);
  // }
  23% {
    transform: translate3d(0, 19.1rem, 0rem) scale(0.6);
  }
  25% {
    transform: translate3d(0, 17.5rem, 0rem) scale(0.6);
    opacity: 0.1;
  }
  27% {
    transform: translate3d(0, 16.2rem, 0rem) scale(0.6);
  }
  49% {
    transform: translate3d(0, 4.2rem, 0rem) scale(0.85);
  }
  50% {
    transform: translate3d(0, 4rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  51% {
    transform: translate3d(0, 4.2rem, 0rem) scale(0.85);
  }

  75% {
    transform: translate3d(0, 17.5rem, 0rem) scale(1);
    opacity: 1;
  }

  98% {
    transform: translate3d(0, 35.2rem, 0rem) scale(0.85);
  }
  100% {
    transform: translate3d(0, 35rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
}

@keyframes css {
  0% {
    transform: translate3d(0, 30rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  1% {
    transform: translate3d(0, 30.2rem, 0rem) scale(0.85);
  }

  23% {
    transform: translate3d(0, 21rem, 0) scale(0.6);
  }
  25% {
    opacity: 0.1;
    transform: translate3d(0, 20rem, 0) scale(0.6);
  }
  27% {
    transform: translate3d(0, 19rem, 0) scale(0.6);
  }
  49% {
    transform: translate3d(0, 10.2rem, 0rem) scale(0.85);
  }
  50% {
    transform: translate3d(0, 10rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  51% {
    transform: translate3d(0, 10.2rem, 0rem) scale(0.85);
  }
  75% {
    transform: translate3d(0, 20rem, 0rem) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 30rem, 0rem) scale(0.85);
  }
}

@keyframes html {
  // 0% {
  //   opacity: 0.1;
  //   transform: translate3d(0, 14.8rem, 0rem) scale(0.6);
  // }
  // 5%{
  //   transform: translate3d(0, 9rem, 0rem) scale(0.65);
  // }

  // 23%{
  //   transform: translate3d(0, 1.7rem, 0rem) scale(0.85);
  // }
  // 25% {
  //   transform: translate3d(0, 1.5rem, 0rem) scale(0.85);
  //   opacity: .8;
  // }
  // 27% {
  //   transform: translate3d(0, 1.7rem, 0rem) scale(0.85);
  //   opacity: .8;
  // }

  // 48% {
  //   transform: translate3d(0, 17.2rem, 0rem) scale(1);
  //   opacity: 1;
  // }
  // 50% {
  //   opacity: 1;
  //   transform: translate3d(0, 18.5rem, 0rem) scale(1);
  // }
  // 52% {
  //   transform: translate3d(0, 20.1rem, 0rem) scale(1);
  //   opacity: 1;
  // }
  // 71%{transform: translate3d(0, 35.8rem, 0rem) scale(.85);}
  // 73%{transform: translate3d(0, 36.8rem, 0rem) scale(.85);}
  // 75% {
  //   transform: translate3d(0, 37rem, 0rem) scale(.85);
  //   opacity: .8;
  // }
  // 77%{transform: translate3d(0, 36.8rem, 0rem) scale(.85);}
  // 79%{transform: translate3d(0, 35.8rem, 0rem) scale(.85);}

  // 93%{transform: translate3d(0, 20.1rem, 0rem) scale(0.6);
  //   opacity: 0.1;}
  // 95% {
  //   opacity: .1;
  //   transform: translate3d(0, 18.5rem, 0rem) scale(.6);
  // }
  // 97%{transform: translate3d(0, 17.2rem, 0rem) scale(0.6);
  //   opacity: 0.1;
  // }
  // 100% {
  //   opacity: 0.1;
  //   transform: translate3d(0, 14.8rem, 0rem) scale(0.6);
  // }

  0% {
    transform: translate3d(0, 10rem, 0rem) scale(0.7);
    opacity: 0.4;
  }
  12% {
    transform: translate3d(0, 3rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  25% {
    transform: translate3d(0, 10rem, 0rem) scale(0.9);
    opacity: 0.9;
  }
  37% {
    opacity: 1;
    transform: translate3d(0, 18.5rem, 0rem) scale(1);
  }
  50% {
    transform: translate3d(0, 28.5rem, 0rem) scale(0.9);
    opacity: 0.9;
  }
  62% {
    transform: translate3d(0, 37rem, 0rem) scale(0.85);
    opacity: 0.8;
  }
  75% {
    transform: translate3d(0, 28.5rem, 0rem) scale(0.72);
    opacity: 0.4;
  }
  87% {
    transform: translate3d(0, 18.5rem, 0rem) scale(0.6);
    opacity: 0.1;
  }
  100% {
    transform: translate3d(0, 10rem, 0rem) scale(0.7);
    opacity: 0.4;
  }
}

@keyframes react {
  0% {
    opacity: 0.6;
    transform: translate3d(0, 3rem, 0) scale(0.78);
  }
  5% {
    opacity: 0.8;
    transform: translate3d(0, 1rem, 0) scale(0.85);
  }
  7% {
    transform: translate3d(0, 1.5rem, 0rem) scale(0.85);
  }
  23% {
    opacity: 1;
    transform: translate3d(0, 17.7rem, 0) scale(1);
  }
  25% {
    opacity: 1;
    transform: translate3d(0, 19rem, 0) scale(1);
  }
  27% {
    opacity: 1;
    transform: translate3d(0, 20.6rem, 0) scale(1);
  }
  51% {
    transform: translate3d(0, 36.8rem, 0rem) scale(0.85);
  }
  53% {
    transform: translate3d(0, 37.8rem, 0rem) scale(0.85);
  }
  55% {
    opacity: 0.8;
    transform: translate3d(0, 38rem, 0) scale(0.85);
  }
  57% {
    transform: translate3d(0, 37.8rem, 0rem) scale(0.85);
  }
  59% {
    transform: translate3d(0, 36.8rem, 0rem) scale(0.85);
  }
  73% {
    transform: translate3d(0, 20.6rem, 0rem) scale(0.6);
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
    transform: translate3d(0, 19rem, 0) scale(0.6);
  }
  77% {
    transform: translate3d(0, 17.7rem, 0rem) scale(0.6);
    opacity: 0.1;
  }
  90% {
    transform: translate3d(0, 11rem, 0rem) scale(0.68);
  }
  100% {
    opacity: 0.6;
    transform: translate3d(0, 3rem, 0) scale(0.78);
  }
}

@keyframes javascript {
  0% {
    transform: translate3d(0, 27rem, 0rem) scale(0.72);
    opacity: 0.4;
  }
  12% {
    transform: translate3d(0, 18rem, 0rem) scale(0.6);
    opacity: 0.1;
  }
  25% {
    transform: translate3d(0, 13rem, 0rem) scale(0.72);
    opacity: 0.4;
  }
  37% {
    opacity: 0.8;
    transform: translate3d(0, 4rem, 0rem) scale(0.8);
  }
  50% {
    transform: translate3d(0, 13rem, 0rem) scale(0.9);
    opacity: 0.9;
  }
  62% {
    transform: translate3d(0, 18rem, 0rem) scale(1);
    opacity: 1;
  }
  75% {
    transform: translate3d(0, 27rem, 0rem) scale(0.9);
    opacity: 0.9;
  }
  87% {
    transform: translate3d(0, 36rem, 0rem) scale(0.85);
    opacity: 0.9;
  }
  100% {
    transform: translate3d(0, 27rem, 0rem) scale(0.72);
    opacity: 0.4;
  }
  // 0% {
  //   opacity: .8;
  //   transform: translate3d(0, 4rem, 0rem) scale(0.8);
  // }
  // 23%{
  //   transform: translate3d(0, 16.7rem, 0rem) scale(1);
  // }
  // 25% {
  //   transform: translate3d(0, 18rem, 0rem) scale(1);
  //   opacity: 1;
  // }
  // 27% {
  //   transform: translate3d(0, 19.6rem, 0rem) scale(1);
  // }
  // 46% {
  //   transform: translate3d(0, 34.8rem, 0rem) scale(.85);
  // }
  // 48% {
  //   transform: translate3d(0, 35.8rem, 0rem) scale(.85);
  // }
  // 50% {
  //   transform: translate3d(0, 36rem, 0rem) scale(.85);
  //   opacity: .9;
  // }
  // 52% {
  //   transform: translate3d(0, 35.8rem, 0rem) scale(.85);
  // }
  // 54% {
  //   transform: translate3d(0, 34.8rem, 0rem) scale(.85);
  // }
  // 73% {
  //   transform: translate3d(0, 19.6rem, 0rem) scale(0.6);
  //   opacity: 0.1;
  // }
  // 75% {
  //   transform: translate3d(0, 18rem, 0rem) scale(0.6);
  //   opacity: 0.1;
  // }
  // 77% {
  //   transform: translate3d(0, 16.7rem, 0rem) scale(0.6);
  //   opacity: 0.1;
  // }
  // 90%{
  //   transform: translate3d(0, 9rem, 0rem) scale(0.65);
  // }
  // 98%{
  //   transform: translate3d(0, 4.5rem, 0rem) scale(0.73);
  // }
  // 100% {
  //   transform: translate3d(0, 4rem, 0rem) scale(.78);
  //   opacity: .8;
  // }
}
